.container {
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.img {
    padding: 16px;
    justify-self: center;
}

.loader {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}