.btnGrp {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    align-items: center;
}


.text {
    color: grey
}

.initial {
    margin-left: auto;
    margin-right: auto;
    color: grey;
}


